{:paths ["test"]
 :deps {thheller/shadow-cljs {:mvn/version "3.4.11"}
        io.github.open-hax/clio
        {:git/url "https://github.com/open-hax/clio.git"
         :git/sha "788cdd3434615a7932b924e68520dbf7f88408c2"}}}
